.container {
  display: flex;
  width: 400px;
  border: 2px solid black;
  gap: 10px;
  background-color: red;
  height: 400px;
}

.box {
    /* width: 50px;
    height: 50px; */
  flex-basis: 100px;
  background: lightblue;
}
