*{
    margin: 0;
    padding: 0;

}

h1{
    background-color: blue;
    width: 80%;
    padding-left: 80px;
}

.form{
    width: 420px;
    height: 400px;
    margin: 100px auto;
    padding: 10px;
    border: 2px solid blue;

}

.last_name{
    padding-top: -20px;
}

button{
    margin-top: 10px;
    margin-left: 80px;
}

.first{
    display: inline;
    padding-left: 20px;
    padding-right: 80px;
}