*{
    margin: 0;
    padding: 0;
}

.form{
    width: 500px;
    height: 800px;
    border: 2px solid rgb(0, 0, 0);
    background-color:bisque;
    font-size: 25px;

  
  margin: 100px auto;
}

input{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    background-color: antiquewhite;
}