*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    background-color: black;
}

.netflix-bg{
    width: 100%;
    filter: brightness(30%);
    

}

.header{
    width: 100%;
    height: 50%;
    position: relative;
    
}

.header-part-1{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1.5%;
    /* background-color: aqua; */
    margin-left: 8%;

}

.netflix-logo{
    width: 20%;

}

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 50%;
    
    /* background-color: red; */
    
    
    
}

.second-p-center{
    display: flex;
    justify-content: center;
    
}

.header-part-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 35%;
    
}

.p{
        font-size: 30px;
        color: white;
        font-weight: bold;
}

.p2{
    font-size: 23px;
    color: white;
    padding-left: 14%;
    padding-top: 12px;
}

.p3{
    color: white;
    padding-top: 3%;
    font-weight: bold;
    font-size: 18px;
}

.input{
    width: 100%;
    /* background-color: red; */
}
input{
    width: 60%;
    height: 50%;
    margin-top: 2%;
}



input{
    padding: 10px;
}

.button-1{
    background-color: red;
    color: white;
    font-weight: 600;
    



}

.button-2{
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: 600;
    width: 30%;
}

.main{
    padding-top: 40px;
    background-color: black;
}

.card
{
    width: 80%;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    margin: 0 auto;
    margin-top: 20px;
    
}

.cardd{
    width: 200%;
}

h2{
    color: white;
    margin-left: 10%;
    font-size: 30px;
    font-weight: 1000;
    
}

.number{
    font-size: 100px;
    color: white;
    position: relative;
    top: -35%;
    left: -10%;
}

.card-2{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 25px;
    margin-top: 2%;
}

.card-2-info{
    width: 30%;
    color: white;
     background: linear-gradient(135deg, #0F0F1A, #1B0F2E, #2A0F36, #3A1A52);
    border-radius: 10px;
   
    /* border: 1px solid red; */
    

}

.card-2-info-heading{
     
    font-size: 20px;
    padding: 2%;
    /* color: white; */
    font-weight: 700;
}

.card-2-info-para{

    font-size: 15px;
    padding: 2%;

}

.card-2-info-logo{
    display: flex;
    justify-content: end;
}

.last-logo{
    width: 25%;
    padding: 5%;
}

.freq{
    color: white;
    font-size: 30px;
    background-color: black;
   padding-top: 5% ;
   padding-bottom: 2%;

}

.frequvently{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    background-color: black;

   
}

.freq-ques{
    width: 100%;
    background-color: grey;
    font-size: 25px;
    padding: 2%;


}

.black-color{
    background-color: black;
}


.footer-section{
    display: flex;
    justify-content: center;
    font-size: 25px;
    gap: 100px;
    padding-top: 2%;
}

.footer-heading{
   color: white;
    margin-left: 10%;
    font-size: 25px;
    font-weight: 1000;
    padding: 10px;
    
}

footer{
    background-color: black;
    width: 100%;
    height: 600px;
}

.footer-para{
    color: white;
}